/* Estilo global */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #0C1445; /* Azul escuro, fundo */
    color: #FFFFFF; /* Branco */
    text-align: center;
}

h1, h2 {
    font-family: 'Impact', sans-serif; /* Fonte com estilo DBZ */
    font-size: 2.5rem;
    color: #FFD700; /* Amarelo forte */
    text-shadow: 3px 3px 0px #FF4500, 6px 6px 0px #000; /* Laranja e sombra preta */
}

p {
    font-family: 'Impact', sans-serif; /* Fonte com estilo DBZ */
    font-size: 2.5rem;
    color: #ffd90073; /* Amarelo forte */
    text-shadow: 3px 3px 0px #ffdd0078, 6px 6px 0px #000; /* Laranja e sombra preta */

}

a {
    text-decoration: none;
    color: #FFD700;
    font-weight: bold;
}

a:hover {
    color: #FF4500; /* Laranja */
    text-shadow: 1px 1px 2px #FFF;
}

/* Menu de navegação */
nav {
    background-color: #FF4500; /* Laranja */
    padding: 10px;
    border-bottom: 5px solid #FFD700; /* Borda amarela */
}

nav a {
    color: #000;
    margin: 0 15px;
    font-size: 1.2rem;
    transition: 0.3s ease-in-out;
}

nav a:hover {
    color: #FFFFFF;
    text-shadow: 1px 1px 2px #FFD700;
}

/* Botões */
button {
    background-color: #FF4500; /* Laranja */
    border: 2px solid #FFD700; /* Borda amarela */
    color: #000;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 3px 3px 0px #000;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    background-color: #FFD700; /* Amarelo */
    color: #000;
    transform: translateY(-5px); /* Efeito de salto */
    box-shadow: 5px 5px 0px #000;
}

/* Formulário */
form {
    background-color: #FF4500; /* Laranja */
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 400px;
    border: 5px solid #FFD700; /* Borda amarela */
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
}

input[type="text"] {
    padding: 10px;
    width: 90%;
    margin: 10px 0;
    border: 2px solid #FFD700;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
}

input:focus {
    outline: none;
    border-color: #FFFFFF;
    box-shadow: 0px 0px 5px #FFD700;
}

/* Rodapé */
footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #0C1445; /* Fundo escuro */
    color: #FFD700;
    font-size: 0.8rem;
    border-top: 2px solid #FF4500;
}
