<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Excluir Palavra</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Excluir Palavra</h1>
    <form method="POST">
        <label>Digite a palavra em Inglês para excluir:</label>
        <input type="text" name="palavra_ingles" required><br>
        <button type="submit">Excluir</button>
    </form>

    <p>{{ mensagem }}</p>
    <a href="/">Voltar para a página inicial</a>
</body>
</html>
