<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dicionário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Bem-vindo ao Dicionário</h1>
    
    <nav>
        <ul>
            <li><a href="/adicionar">Adicionar Palavra</a></li>
            <li><a href="/procurar">Procurar Tradução</a></li>
            <li><a href="/excluir">Excluir Palavras</a></li>
            <li><a href="/listar">Lista as palavras já inseridas</a></li>
        </ul>
    </nav>
</body>
</html>
