<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Palavras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Lista de Palavras Inseridas</h1>

    {% if palavras %}
        <!-- Só exibe a tabela se a lista de palavras não estiver vazia -->
        <table>
            <thead>
                <tr>
                    <th>Palavra em Inglês</th>
                    <th>Tradução em Português</th>
                </tr>
            </thead>
            <tbody>
                {% for palavra in palavras %}
                    <tr>
                        <td>{{ palavra[0] }}</td>
                        <td>{{ palavra[1] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <!-- Exibe uma mensagem caso não haja palavras cadastradas -->
        <h2>Não há palavras cadastradas.</h2>
    {% endif %}

    <a href="/">Voltar para a página inicial</a>
</body>
</html>
