<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Palavra</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Listar Todas as Palavra</h1>
    <!-- <form method="POST">
        <label>Palavra em Inglês:</label>
        <input type="text" name="palavra_ingles" required><br>
        <label>Tradução em Português:</label>
        <input type="text" name="traducao_portugues" required><br>
        <button type="submit">Adicionar</button>
    </form> -->
    <p>{{ mensagem }}</p>
    <a href="/">Voltar</a>
</body>
</html>
